/* =============== html smooth scrolling part==================*/
html {
  scroll-behavior: smooth;
}

/* =============== css variable ==================*/

:root {
  --main-color: #0a174e;
  --secondary-color: #0dc1eae6;
}
/*=================== nav bar part start ======================= */
nav {
  background-color: var(--secondary-color);
}

.nav-link {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  background-color: black;
  border-radius: 10px;
  color: white !important;
}

#heading {
  font-size: 40px;
  font-weight: bold;
  box-shadow: 10px 10px 5px 0 grey;
}

#heading:hover {
  background-color: black;
  border-radius: 1rem;
  color: white !important;
}

a {
  color: var(--main-color) !important;
}

.navbar-toggler {
  background-color: var(--main-color);
}

.navbar-toggler-icon {
  color: var(--secondary-color);
}

/*================== nav bar  part end ======================= */
/*================== Background image part start =============*/

.bgimag {
  background-image: url("image1.jpg");
  background-size: cover;
  background-position: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}

.header-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffeb3b;
}
.header-text h2 {
  font-size: 40px;
  font-weight: bold;
  color: #ffeb3b;
}

.btn {
  font-size: 18px;
}

.btn:hover {
  background-color: var(--secondary-color);
}
/* =================== Background image part end============== */

/* =================== our service part start ======================= */

.ourservice {
  padding: 100px 0px 60px;
}
.ourservice h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--secondary-color);
}

.imgsetting {
  font-size: 40px;
  background-color: rgb(19, 229, 236);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-top: 20px;
}

.row-setting {
  margin: 50px 0;
}

.row-setting h2 {
  font-weight: bold;
  font-size: 30px;
}

p {
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
}

/*=========================== our service part end ================== */

/* ======================== product spart start =====================*/
.product {
  width: 100%;
  padding: 70px 0 50px;
}
.product h1 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
  color: var(--secondary-color);
}

.jeans {
  width: 288px;
  height: 200px;
}
.card {
  margin-top: 40px;
  max-height: 300px;
}
.card-img {
  max-width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
}
.card-title {
  font-size: 20px;
}
/* ==================== product part end=================== */

/* ==================== Team part start=====================*/

.ourteam {
  padding: 100px 0 60px;
  width: 100%;
}

.ourteam h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--secondary-color);
}

.teamsetting {
  margin-top: 50px;
}

figcaption h4 {
  font-size: 30px;
}

.figure-caption {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* ======================= Team section part end ================*/

/* ================== footer part start =============== */

.footer {
  background-color: black;
  color: wheat;
}
.footer h6 {
  line-height: 50px;
  font-size: 20px;
}

/* =================== footer part end =================*/

/* ================== Responsive part start =============== */
@media screen and (max-width: 992px) {
  .header-text h2 {
    font-size: 20px;
  }
  .header-text h1 {
    font-size: 20px;
  }
  .ourservice h1 {
    padding-top: 220px;
  }
  .ourteam h1 {
    padding-top: 200px;
  }
  .product h1 {
    padding-top: 220px;
  }
}

/* ================== Responsive part end =============== */
